
*{
    box-sizing: border-box;
}


body{
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

p{
    padding: 0.8em;
    font-size: 16px;
}

h1{
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px black;
}

h1 + p{
    font-weight: 700;
    font-size: 18px;
}

h2{
    font-size: 1.5em;
    padding: 0.6em;
}
h2+p{
    font-weight: 700;
    font-size: 18px;
}

img{
   width: 95%;
}

ul{
    font-size: 1.5em;
    list-style: none;
    padding: 0;
    
}

li{
    margin: 1em;
}

a{
    text-decoration: none;
    color: black;
}

table{
    margin: 1em auto;
    border-collapse: collapse;
    max-width: 95%;
}

table th{
    margin: 0;
    padding: 12px 24px;
    text-align: left;
    color: white;
    background-color: rgb(226, 157, 29) ;
    border: 1px solid black;
}
table td{
    margin: 0;
    padding: 10px 20px;
    border: 1px solid black;
}

nav{
    background-color: rgb(226, 157, 29);
    padding: 0.75em;
    min-width: 25%;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

section{
    min-width: 65%;
    padding: 0.75em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.non-flex{
    display: block;
    width: 100%;
    max-width: 100%;
}

article{
    max-width: 65%;
}
figure {
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.active{
    border-bottom: 2px solid black;
}

.container{
    display: flex;
    flex-direction: row;
    min-height: 100vh; 
}



a:hover{
    color: white;
}

@media (max-width: 1000px){
.container{
    display: flex;
    flex-direction: column;

}
    
}
